h1 {

    color: green;
}

label {
    color: purple;
}

#userlabel {
    font: size 20px;
    background-color: aqua;
}

#passlabel {
    font-size: 20px;
    background-color:aqua;
}

body {
    background-color: apple greenyellow;
}

.link-style:link {
    color: blueviolet;
    background-color: aqua;
}


.link-style:hover {
    color: yellow;
    background-color: black;
}

.link-style:active {
    color: yellow;
    background-color: black;
}